/*@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');*/

@font-face {
  font-family: 'Karla';
  src: local('karla-Light.ttf'), url(../font/static/Karla-Light.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

html {
  background-color: #282c34;

}

.App {
  font-family: 'karla', sans-serif;
  text-align: center;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.App-logo {
  height: 4vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 3vh;
  padding: 1vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 2vw;
}

.header-div {
  height: 4vh;
}

.header-title {
  font-size: 3.3vh;
}

.App-body {
  padding: 1vh;
  font-family: 'Karla', sans-serif;
  font-size: 2em ;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App-body-split {
  border-radius: 15px;
  border: solid grey 2px;
  display: flex;
  flex-direction: row;
  padding: 1vh;
  gap: 1vw;
  align-items: stretch;
  height: 85vh;
  flex-flow: row;
}

.App-body-traitement {
  border: solid #4d524d 2px;
  border-radius: 15px;
  padding: 1vh;
  min-width: 50%;
  vertical-align: middle;
  flex-grow: 2;
  /*margin-top: 1vh;*/
  /*margin-bottom: 1vh;*/
}

.App-body-traitement-tableau {
  border-radius: 0 0 5px 10px;
  height: 83%;
  /*border: solid black 2px;*/
  overflow: auto;
  scrollbar-width: thin;
}

.App-body-container-table {
  height: 60%;
  /*border: solid black 2px;*/
  border-radius: 15px;
  scrollbar-width: thin;
}


.App-body-tabs {
  height: 12%;
  margin-bottom: 2%;

}
.App-body-traitement-calendrier {
  height: 40%;
  /*border: solid black 2px;*/
  overflow: auto;
  border-radius: 15px;
}
.App-body-rdv-contact{
  font-size: 5vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  min-width: 40%;
  flex-grow: 1;
  /*border: solid purple 2px;*/
  border-radius: 15px;
  /*padding: 1vh;*/
  /*flex-grow: 1 ;*/
}

.App-body-rdv {
  border: solid #4d524d 2px;
  border-radius: 15px;
  padding: 1vh;
  flex-grow: 1 ;
}

.App-body-contact {
  border: solid #4d524d 2px;
  border-radius: 15px;
  padding: 1vh;
  height: 42vh;
}

.rendez-vous {
  height: 30vh;
  overflow-x: auto;
  scrollbar-width: none;
}

.App-body-contact-tableau {
  margin-top: 1vh;
  border-radius: 5px 0 5px 5px;
  height: 83%;
  /*border: solid black 2px;*/
  overflow: auto;
  scrollbar-width: none;
}
.App-footer {
  min-height: 3vh;
  padding: 1vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 2vw;
}

.App-link {
  color: #61dafb;
}

.error {
  color: #5a5c62;
  font-style: italic;
  font-size: 0.7em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
