.contact ul {
    list-style: none;
    padding-inline-start: 1vw;



}

li {
    margin-bottom: 0.3vh;
}
.contact {
    font-size: 2vh;
    text-align: left;
}

.contact-name {
    border-radius: 0 15px 15px 0;
    background-color: #3e4149;
    padding: 0.3vw 0.3vw 0.3vw 1vw;
    font-size: 3vh;
}

table {
    border-top: solid grey 1px;
    margin-top: 0.6vh;
    border-collapse: collapse;
}

td {
    padding: 0.5vh 0.5vw 0 0;
    text-align: left;
}
a {
    color: #8f8f8f;
}
a:visited {
    color: #9a9a9a;
}

.contact-table-days {
    margin-top: 1vh;
    overflow-x: auto;
    scrollbar-width: thin;
}

.contact-table-days td {
    padding-bottom: 1vh;
}