.rendez-vous-item {
    margin-top: 1vh;
    height: 15vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: #282c34 solid 3px;
}

.rendez-vous-item-pro {
    font-size: 2.5vh;
    border: solid #5b5b5b 2px;
    border-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #3e4149;
    height: 5vh;
    flex-flow: row;
}
.rendez-vous-item-pro > * {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    padding-top: 0.7vh;
}

.rendez-vous-item-pro-name {
    border: solid #5b5b5b 1px;
}

.rendez-vous-item-pro-spec  {
    border: solid #5b5b5b 1px;
}

.rendez-vous-item-content {
    font-size: 2vh;
    border: solid #5b5b5b 1px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    flex-flow: column;
}
.rendez-vous-item-content-time {
    border: solid #5b5b5b 1px;
    /*height: 50%;*/
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.rendez-vous-item-content-time > * {
    padding-top: 0.9vh;
    font-weight: bold;
    min-height: 30%;
}
.rendez-vous-item-content-date {
    border: solid #5b5b5b 1px;
    background-color: #4d524d;
    flex-grow: 2;
    font-size: 2.5vh;
    text-align: center;
}

.rendez-vous-item-content-schedule {
    font-size: 2.5vh;
    border: solid #5b5b5b 1px;
    width: 70%;
    flex-grow: 3;
}

.rendez-vous-item-content-address {
    flex-grow: 1;
    border: solid #5b5b5b 1px;
    color: #b2b1b1;
    /*height: 60%;*/
    padding-top: 1vh;
}