
.SpecTable {
    font-size: 2.5vh;
    font-family: 'Karla', sans-serif;
    width: 100%;
    /*border-top-left-radius: 15px;*/
    border-collapse: collapse;

}

.SpecTable td, th {
    padding: 0.7vh;
    border-bottom: solid 1px #544e4e;
}

.SpecTable th {
    height: 4vh;
}


thead {
    background-color: #3e4149;
}

.container {
    overflow-x: auto;
    scrollbar-width: thin;
}

/*#traitement-body {*/
/*    overflow: auto;*/
/*}*/
