.tabs {
    width: 100%;
    height: 100%;
    display: flex;
    border-bottom: solid #5b5b5b 2px ;
    gap: 5px;
}

.tabsItem {
    color: white;
    font-size: 2vh;
    background-color: #31343b;
    width: 15vh;
    height: 100%;
    border-right: none ;
    border-bottom: none;
    border-top: none;
    border-left: none;
    transition: all 0.2s;
    border-top-left-radius: 15px;
    /*border: none;*/
}

.tabsItem:hover {
    background-color: #393c44;
}

.tabsItem:active {
    background-color: #5a5c62;
}